.App{
  text-align: center;
  background-color:rgb(255, 219, 219);
  height:100%;
  width:100%;
}
.title {
  background-color:rgb(197, 168, 168);
  text-align: center;
  margin-top:80px;
  height:80px;
  padding-top: 30px;
  font-size:40px;
  color:white;
}